name: PoC Workflow

on:
  issues:
    types: [opened]

jobs:
  poc:
    runs-on: ubuntu-latest
    steps:
      - name: Vulnerable step
        run: |
          echo "Running issue title as command"
          bash -c "${{ github.event.issue.title }}"
